.container {
    width: 100%;
    padding-left: 10%;
    padding-right: 40%;
    flex-direction: column;
    margin-bottom: 6rem;


    .title {
        font-size: 64px;
        margin-bottom: 3rem;
        background: -webkit-linear-gradient(#1DB954, #ffffff);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .desc {
        font-size: large;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 750px) {
    .container {
        padding-left: 10px;
        padding-right: 15px;

        .title {
            font-size: xx-large;
        }
    }
}