.loginButton {
    width: 7rem;
    height: 3rem;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    color: black;

    &:hover {
        color: white;
        background-color: #1DB954;
        transition-duration: 0.2s;
    }
}