.deleteIcon {
  cursor: pointer;

  &:hover {
    color: tomato;
  }
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.buttons {
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}

.question {
  font-size: larger;
}

.shelfName {
  font-weight: bolder;
  color: tomato;
}

.confirm,
.cancel {
  padding: 5px;
}