.shelves {
    width: 100%;
    flex-wrap: wrap;

    .shelfWrapper {
        flex-direction: column;
        margin-top: 10px;
        text-indent: 10px;
        width: fit-content;

        .headerContainer {
            justify-content: space-between;
            padding-right: 10px;
            font-size: large;
            gap: 0.5rem;

            .icons {
                justify-content: space-evenly;
                gap: 5px;
                align-items: center;

                .editIcon,
                .deleteIcon {
                    cursor: pointer;
                }

                .editIcon:hover {
                    color: cyan;
                }
            }

            .name {
                color: gray;
            }
        }

        &:hover {
            .icons {
                color: white;
            }
        }
    }
}