.footer {
    width: 100%;
    height: fit-content;
    background-color: white;
    flex: 1;
    padding: 3rem;
    color: black;

    a:hover {
        color: #1DB954;
    }

    li {
        margin-bottom: 1rem;
    }
}